<?xml version="1.0"?>
<config>
    <modules>
        <SmashingMagazine_BrandExample>
            <version>0.0.2</version>
        </SmashingMagazine_BrandExample>
    </modules>
    <global>
        <blocks>
            <smashingmagazine_brandexample>
                <class>SmashingMagazine_BrandExample_Block</class>
            </smashingmagazine_brandexample>
        </blocks>
        <helpers>
            <smashingmagazine_brandexample>
                <class>SmashingMagazine_BrandExample_Helper</class>
            </smashingmagazine_brandexample>
        </helpers>
        <models>
            <smashingmagazine_brandexample>
                <class>SmashingMagazine_BrandExample_Model</class>
            </smashingmagazine_brandexample>
        </models>
        <resources>
            <smashingmagazine_brandexample_setup>
                <setup>
                    <module>SmashingMagazine_BrandExample</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smashingmagazine_brandexample_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <smashingmagazine_brandexample>
                    <file>smashingmagazine_brandexample.xml</file>
                </smashingmagazine_brandexample>
            </updates>
        </layout>
        <routers>
            <smashingmagazine_brandexample>
                <use>standard</use>
                <args>
                    <module>SmashingMagazine_BrandExample</module>
                    <frontName>brand</frontName>
                </args>
            </smashingmagazine_brandexample>
        </routers>
    </frontend>
</config>